.inline {
    display: inline !important;
}

.right-margin-5 {
    margin-right: 5px;
}

.left-margin-30 {
    margin-left: 30px;
}

.left-margin-10 {
    margin-left: 10px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-100 {
    max-width: 100px;
}
