{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
			<h4>Select video</h4>
            <ul class="list">
            {% for id in ids %}
                <li>
                    <a href="{{ base_url }}/{{ id }}">{{ id }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock %}
