{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row bottom-margin-10">
        <div class="col-lg-12">
            <span class="lead right-margin-5 inline">Adjust Sync:</span>
            <input type="text" class="form-control max-width-200 inline right-margin-5" id="syncText">
            <button id="applySync" class="btn btn-primary max-width-300 inline right-margin-5">Apply</button>
            <span class="lead inline">Signal starts from {{ tstamp }}</span>
            <h3 class="inline left-margin-10">[{{ vid }}]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <video id="video-main" class="video-js" controls preload="auto" width="960" height="540" data-setup="{}">
                <source src="{{ vpath }}" type='video/mp4'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <br>
            <img id="specgram" width=960 height=360></img>
        </div>
    </div>
</div>
<script type="text/javascript">
BASE_URL = "{{ base_url }}"
VIDEO_ID = "{{ vid }}";
</script>
<script type="text/javascript" src="{{ base_url }}/static/handler.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}
